# setting up prometheus
apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: project
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
    scrape_configs:
      - job_name: 'todo-backend'
        metrics_path: '/actuator/prometheus'
        static_configs:
          - targets: ['todo-backend-svc:2345']

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus
  namespace: project
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      containers:
        - name: prometheus
          image: prom/prometheus:v2.53.0
          ports:
            - containerPort: 9090
          volumeMounts:
            - name: prometheus-config
              mountPath: /etc/prometheus/
      volumes:
        - name: prometheus-config
          configMap:
            name: prometheus-config
---
apiVersion: v1
kind: Service
metadata:
  name: prometheus
spec:
  ports:
    - port: 9090
      targetPort: 9090
  selector:
    app: prometheus
